.videoContainer{
    position:relative;
    height:530px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    transition: left .2s ease-out;

    
}